

.mainpara{
    margin: 0px 0px 0px 20px;
}

h1 {
    color: rgb(48, 40, 40)
    border:black
}

body{
    background-color: #c0c0c0;
}

body{
    color: #000080;
}



h2 {
    color: #000
    ;
}
h3 {
    color: #000
    ;
}
h1 {
    color: #000
    ; ;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    font-size: 19px;
}

h1 {
    font-weight: bolder;
}
body{
    font-style: normal;
}
